# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=mysql://root:157595351@localhost:3306/test1#this is the database server link
JWT_ACCESS_SECRET=SECRET123#secret for authentication access token
JWT_REFRESH_SECRET=ANOTHER_SECRET123#secret for authentication refresh token
OTP_DURATION=10#otp validity duration
OTP_DURATION_TYPE=minutes#otp duration type
OTP_EMAIL=auth.sys.grad@gmail.com#otp mail
OTP_EMAIL_PASSWORD=123must456#otp mail password
